# CLion default CMake build folders
cmake-build-*

# CLion settings
.idea/

# Object files
*.obj

*# Ignore all files in the bin folder except for gitkeep
bin/
!bin/.gitkeep

# Python virtual environment
.venv/
